@model UserViewModel

<section class="grid grid-cols-1 sm:grid-cols-2">
    <section>
        <div>
            <label asp-for="FirstName"></label>
            <input class="border focus:outline-grey focus:ring-transparent focus:border-indigo-600" type="text" asp-for="FirstName"/>
            <span asp-validation-for="FirstName"></span>
        </div>
    </section>
    <section>    
        <div>
            <label asp-for="LastName"></label>
            <input class = "border focus:outline-grey focus:ring-transparent focus:border-indigo-600" type="text" asp-for="LastName"/>
            <span asp-validation-for="LastName"></span>
        </div>
    </section>

</section>